body {
    margin: 0;
    font-family: inter;
   
    justify-content: center;
   
}

h1{
    margin: 0;
}

.navbar-container{
   
    
}





.navbar-length-2{
    box-shadow: 0 0.0002px 0.00005px rgba(0, 0, 0, 0.0000005);
  
  
   z-index: 1000;
}

.navbar-length{
   padding-bottom: 20px;
   
}


.flip-container {
    perspective: 1000px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding-bottom: 16px;
    padding-top: 2px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

@keyframes spin {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}

.flip-container.paused .flipper {
    animation-play-state: paused;
}

.flip-container.flipped .flipper {
    animation: spin 3s ease-in-out forwards;
}

.flip-container.flipped .front {
    animation-delay: 0s;
}

.flip-container.flipped .back {
    animation-delay: 3s; /* Pause at back for 3 seconds */
}

.front img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    
}

.back img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}



.navbar {
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    padding-bottom: 16px;
    padding-top: 8px;
    position: sticky;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin: auto;
}

.footer-columns{
    margin-top: 28px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}


.footer-column-1{
    width: 35%;
    padding-bottom: 16px;
}

.footer-column-2,
.footer-column-1 {
   
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center align content vertically */
}

.logo img {
    height: 55px;
    
   
}



.logo-2 img {
    height: 40px;
padding-top: 24px;
    padding-bottom: 32px;
    margin-bottom: 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 8px;
    
    
}

.menu-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 8px;
    
    
}

.menu-2 li {
    padding-top: 12px;
}

.menu-2 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    padding: 10px 25px 10px 25px;
}

.menu-2 a:hover {
    background-color: #82a8ff;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
}

.footer-bottom-banner{
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #f0f0f04f; /* Add bottom border */
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: auto;
}


.icon-container-20 {
  
    align-self: flex-end; /* Align the icon container to the right */
    display: flex;
    gap: 10px;
}

.contact-icon {
    display: inline-block;
}

.contact-icon-img {
    width: 38px; /* Adjust size as needed */
    height: auto;
}



.menu li {
    
    padding-top: 12px;
    
}

.nav_link {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
    padding: 10px 25px 10px 25px;
    margin-top: 200px;
    
}

.nav_link:hover {
    background-color: #f0f0f0;;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
   
}


.navbar-button{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
    background-color: #004af8;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    border: 2px solid #4caf8700; /* Green border */
   
}


.navbar-button:hover{
    color: #ffffff;
    border: 2px solid #4caf8700; 
    text-decoration: none;
    
    font-family: Inter;

    background-color: #000000;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    
}


.navbar-button i {
    
    margin-left: 8px;
    transform: rotate(50deg); /* Adjust rotation if needed */
}

.footer-column-2 i {
    
    margin-left: 10px;
    transform: rotate(50deg); /* Adjust rotation if needed */
}

.button-learn i {
    
    margin-left: 10px;
    transform: rotate(50deg); /* Adjust rotation if needed */
}

.button-learn-2 i {
    
    margin-left: 10px;
    transform: rotate(50deg); /* Adjust rotation if needed */
}

.button-learn{
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
    color: #4f4f4f;
text-decoration: none;
    display: inline-block;
   
    
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.button-learn-2{
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
    color: #4f4f4f;
    display: inline-block;
   
    
}


.header-section{
    
            padding-top: 100px;
            display: flex;
            background-image: url('images/Untitled\ design.png'); /* Replace with your image path */
            background-size: cover;
            background-position: center;
            padding-bottom: 120px;    
}

.button-learn:hover{
    font-size: 18px;
    font-weight: 600;
  
    color: #9f9f9f;
    
}

.button-learn-2:hover{
    font-size: 18px;
    font-weight: 600;
  
    color: #9f9f9f;
    
}

.header-section-2{
    display: flex;
flex-direction: row;
padding-left: 20px;

    gap: 54px;
    justify-content: center;
    max-width: 1150px; 
    margin: auto;
    
  
}

.header-section-12{
    display: flex;
flex-direction: row;
padding-left: 30px;

    gap: 30px;
    justify-content: center;
    max-width: 1150px; 
    margin: auto;
    
  
}



.header-section-left-2{
    padding: 12px 28px 12px 28px;
    background-color: #f6f6f6cd;
    
    border-radius: 23px;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  
}



.header-section-left-4 {
    padding: 24px 42px;
    background-color: #f6f6f600;
    
    margin: 0 auto;
    display: flex; /* Use flexbox to enable alignment properties */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.header-section-left{
    padding: 12px 28px 12px 28px;
    background-color: #f6f6f6cd;
  
    border-radius: 23px;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.header-section-left,
.header-section-right {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center align content vertically */
}



@media (max-width: 990px) {
.header-section-left-2 {
    flex-direction: column;
    width: 80%;
    justify-content: center;
       border-right: none; /* Remove the right border */
       border-bottom: 1.5px solid #dfdfdf; /* Add bottom border */
   }

   .header-section-left-4 {
    flex-direction: column;

   }

   .header-section-12{
    display: flex;
flex-direction: column;
padding-left: 0px;
gap: 0;
  
}
}


@media (max-width: 800px) {
    .header-section-2 {
        flex-direction: column;
        gap: 24px;
      
    }

    .header-section-12 {
        flex-direction: column;
        gap: 24px;
        padding: 0px;
      
    }

    

.header-section-left-4{
    width: 80%;
}

    .header-section-left {
     width: 80%;
     justify-content: center;
        border-right: none; /* Remove the right border */
        border-bottom: 1.5px solid #dfdfdf; /* Add bottom border */
    }

    .header-section-right {
     
      padding: 16px 60px 8px 20px;
    
    }

    .header-section{

        padding-top: 36px;
        padding-bottom: 64px;    
}
}









.intro-maggie{
    font-family: Lora;
    font-size: 36px;
    font-style: italic;
    color: #000000;
    font-weight: 500;
    padding-bottom: 16px;
    
    
}

.maggie-hi{
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.maggie-hi-6{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.update{
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    color: #6d6d6d;
   
}

.intro-state{
    font-size: 50px;
    font-family: Lora;
    color: #6d6d6d;
    font-weight: 500;
    margin-bottom: 6px;
   
}

.made-by-me{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.intro-state-2{
    font-size: 56px;
    font-family: Lora;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 6px;
   
}

.animated-text {
    text-align: center;
    margin-top: 50px;
}

#animated-word {
    animation: changeWord 1.5s infinite; /* Change word every 3 seconds */
    color: #004af8;
    
}

@keyframes changeWord {
    0%, 100% {
        content: "functional.";
    }
    25% {
        content: "beautiful.";
    }
    50% {
        content: "intuitive.";
    }
    75% {
        content: "accessible.";
    }
}


footer{
    border-top: 2px solid #f0f0f0; /* Add bottom border */
    padding: 5px 25px;
    background-color:  #004af8;
    justify-content: center;
    
}

.project-section{
    padding-bottom: 72PX;
    padding-top: 25px;
    background-color: #ffffff00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
}

.mosaic-2 {
    display: flex;
    width: 400px;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px; /* Adjust as needed */
}

.top-image {
    border-radius: 15px;
    /* Optional styling for the top image */
}

.bottom-images {
    display: flex;
    gap: 10px; /* Adjust as needed */
    border-radius: 15px;
}

.image-mosaic-2 {
    flex: 1;
    border-radius: 15px;
}

.image-mosaic-2 img {
    max-width: 100%;
    height: auto;
}

.mosaic {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1150px;
    margin: 20px auto;
    grid-auto-flow: dense; /* Fill empty spaces */
    padding-bottom: 64px;
}

.image-mosaic {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}



.image-mosaic:nth-child(2n+1) {
    grid-column-end: span 1.5; /* Makes every second image span two columns */
}

.image-mosaic img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.image-mosaic:hover img {
    transform: scale(1.1);
}



.project-section-2{
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    justify-content: center; 
    align-items: center;
    
}



.menu-6 a {
    color: #6F6F6F;
    text-decoration: none;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    background-color: #000000;;
    padding: 8px 16px 8px 16px;
    border-radius: 50px;
}

.menu-6 a:hover {
    background-color: #f0f0f0;;
    padding: 8px 16px 8px 16px;
    border-radius: 50px;
}


.menu-6 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 8px;
}


.menu-5 a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    background-color: #ffffff;;
    padding: 8px 16px 8px 16px;
    border-radius: 50px;
   
}

.menu-5 a:hover {
    background-color: #efefef;;
    padding: 8px 16px 8px 16px;
    border-radius: 50px;
}

.menu-5 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    
}

.project.show {
    display: flex; /* Show filtered projects */
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    gap: 16px;
   
    justify-content: center; 
    align-items: center;
}


.container-20 {
    
    padding: 20px;
    border-radius: 8px;
    
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 71px;
}

.password-12 {
    color: #333;
    padding-bottom: 40px;
}

form {
    margin-top: 20px;
}

label {
    
    margin-bottom: 10px;
}

input[type=password] {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 30px;
}

.enter-submit{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.enter-submit-40{
    color: #004AF8;
    font-size: 26px;
    font-weight: 600;
}



.button-20 {
    padding: 14px 81px;
    background-color: #004AF8;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
}

button:hover {
    background-color: #000000;
}

.error-message {
    color: red;
    margin-top: 10px;
}


@media (max-width: 800px) {
    .menu-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
      
       row-gap: 16px;
       padding-right: 24px;
        
       
        
    }

    .menu-5 a {
        display: block;
        color: #000000;
        text-decoration: none;
        font-size: 16px;
        font-family: Inter;
        font-weight: 500;
        background-color: #ffffff;;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        margin-right: 8px;
       
    }

    .menu-5 a:hover {
        background-color: #efefef;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        
    }

    .menu-5 a.active {
        background-color: #efefef;
        padding: 12px 30px 12px 30px;
        border-radius: 50px;
        
    }

   
    
}







.navbar-4 {
   
    display: flex;
   justify-content: center;
    align-items: center;

    padding-bottom: 24px;

    margin-bottom: 16px;
}



.navbar-8 {
    border-bottom: 1.5px solid #dfdfdf; /* Add bottom border */
    border-top: 1.5px solid #dfdfdf; /* Add bottom border */
    max-width: 1150px;
    display: flex;
   justify-content: center;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 20px;
    position: sticky;
    background-color: #000000;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 54px;
}

a {
    text-decoration: none;
}


@media (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
        width: 100%;
        
     
      
       
        
    }

   
}


@media (max-width: 800px) {
    .project-1,
.project-2,
.project-3, 
.project-4,
.project-5,
.project-6,
.project-7 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 16px;
        
    }

   
}



@media (max-width: 700px) {
    .h3{
        font-family: Lora;
        font-size: 20px;
        font-weight: 500;
        color: #4F4F4F;
    }

   
}



.project-button{
    display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            color:  #004af8;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-size: 18px;
            margin-top: 24px;
            margin-right: 30px;
            transform: rotate(45deg);
        
}

.project-button:hover {

          
            background-color: #004af8;
            color: #ffffff;
            
}




.project-1,
.project-2,
.project-3, 
.project-4,
.project-5,
.project-6,
.project-7 {
    text-decoration: none; /* Removes underline */
    justify-content: space-between;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    height: 400px;
    transition: transform 0.3s ease;
    
    box-sizing: border-box; /* Ensure border is included in the element's total width and height */
}


.project-1:hover,
.project-2:hover,
.project-3:hover, 
.project-4:hover,
.project-5:hover,
.project-6:hover,
.project-7:hover {
    transform: scale(1.05);
    /* To ensure the hovered project appears above others */
    
}

h3{
    font-family: Lora;
    font-size: 28px;
    font-weight: 500;
    color: #4F4F4F;
}

.project-link {
    text-decoration: none; /* Removes underline */
}

.project-link-4 {
    text-decoration: none; /* Removes underline */
}

.project-tag{
    color: #4F4F4F;
}

.project-1 { background-image: url('images/TRINDENT-COVER.png'); }
.project-2 { background-image: url('images/LOCAL-COVER.png'); }
.project-3 { background-image: url('images/cbsa.png'); }
.project-4 { background-image: url('images/EXTRA360-COVER.png'); }
.project-5 { background-image: url('images/SOO-COVER.png'); }
.project-6 { background-image: url('images/freelance.png'); }
.project-7 { background-image: url('images/FABSCRAP-COVER.png'); }



.overlay {
    padding: 16px 20px 16px 20px;
    text-align: left;
    border-radius: 24px;
    
}

h3, p {
    margin: 10px 0;
}


.project-tag {
    font-size: 14px;
}

.project.hidden {
    display: none;
}

.menu-5 a.active {
    background-color: #efefef;;;
    
    border-radius: 50px;
}


.breadcrumbs{
    padding-top: 40px;
    display: flex;
}


.breadcrumb-link {
    text-decoration: none; /* Remove underline from all breadcrumb links */
    color: #333; /* Default color for breadcrumb links */
    margin-right: 5px;
    font-weight: 500;
}

.breadcrumb-link.active {
    font-weight: bold; /* Example: make active link bold */
    color: #007bff; /* Example: change color of active link */
}



.top-banner-25{
    display: flex;
  
    margin-right: 50px;
    flex-wrap: wrap;
   
    margin-bottom: 16px;
}



.title-cohive{
    color:  #ffffff;
    font-size: 15px;
    margin-bottom: 0;
}


.background-information{
    display: flex;
    gap: 80px;
    

}


@media screen and (max-width: 800px) {
    .background-information{
        gap: 10px;
        
        flex-wrap: wrap;
    
    }

    .cards-section{
        flex-wrap: wrap;
        
        
    }

    .card-1{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    

    .footer-columns{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1000px) {
    
    .footer-columns{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .footer-column-1{
        width: 100%;
        padding-bottom: 16px;
        text-align: center;
    }

    .footer-column-2{
        justify-self: center;
        text-align: center;
    }

    .menu-2{
       
        padding-bottom: 50px;
       
    }

    .
}

@media screen and (max-width: 680px) {
    
    .menu-2{
        display: flex; /* Use flexbox */
        flex-direction: column; /* Arrange items in a row */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        padding-bottom: 50px;
        text-align: center;
        gap: 40px;
    }


.footer-column-1{
    width: 100%;
    padding-bottom: 16px;
    text-align: center;
}

.footer-column-2{
    justify-self: center;
    text-align: center;
}

.footer-bottom-banner{
    display: flex; /* Use flexbox */
        flex-direction: column; /* Arrange items in a row */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        padding-top: 20px;
        text-align: center;
        gap: 20px;
}
}


@media screen and (max-width: 1000px) {
   
    .cohive-info, .breadcrumbs {
        margin-left: 20px;
        margin-right: 20px;
        
    }
    
    }

    .top-locals-1{
        align-content: flex-end;
    }
    

    .black-background{
        background-color: #000000;
    }



.section{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 30px 0px 30px;

}

.section-18{
    margin-top: 15px;
    background-color: #004af8;
}


.banner-img-5{
    margin-top: 16px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 40px;
  
}


.marry-17{
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    font-family: Merriweather;
    color: #ffffff;
    margin-top: 0;
}

.marry-5{
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    font-family: Merriweather;
    color: #000000;
    margin-top: 0;
    text-decoration: underline;
            text-decoration-color: #DBA3FB;
}


.marry-10{
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    font-family: Merriweather;
    color: #000000;
    margin-top: 0;
    text-decoration: underline;
            text-decoration-color: #DBA3FB;
}

.image-content-8 {
    justify-content: center;
}


.sketches-4{
    margin-top: 0;
    width: 100%;
    
}

.features-insight-40{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    
}


@media screen and (max-width: 900px) {
    .features-insight-40{
      
        flex-wrap: wrap;
        
    }

   

}







.empathize {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 750px;
    border-radius: 15px;
    border: 2px solid #fefefe; /* 2px thickness, solid style, black color */
    padding: 10px; /* Add padding inside the border */
    margin: 0 auto; /* Center the section within its parent */
    text-align: center; /* Center text inside the container */
  }
  
  .empathize-background {
   
    padding: 20px; /* Optional: Add some padding around the content */
  }
  
  .empathize-background-2 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  
  .descrop-5 {
    color: #2D2E49;
    margin-bottom: 0;
  }


.marry-18{
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    font-family: Merriweather;
    color: #ffffff;
    margin-top: 0;
    text-decoration: underline;
            text-decoration-color: #DBA3FB;
}


.tile-project-cohive-7{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .image-content-5 {
        flex-wrap: wrap;
        gap: 20;
        flex: 100%;
        margin: 0;
        margin-top: 42px;
        width: 100%;
    }

    .image-content-8 {
        flex-wrap: wrap;
        gap: 20;
        flex: 100%;
        margin: 0;
        margin-top: 42px;
        width: 100%;
    }
    

    .timeline-5{
        width: 100%;
        flex: 0 0 100%; /* Set the width to 100% to make both buttons the same size */
    }

    .timeline-6{
        width: 100%;
    }

    .explanation-2{
        margin-top: -20px;
        

    }

    .timeline-6{
        width: 80%;
    }

    .timeline{
        width: 80%;
    }

    .mobile{
        flex: 0 0 100%;
    }
    
    .laptop{
        flex: 0 0 100%;
    }
}


@media screen and (max-width: 700px) {
    .image-content-5 {
        flex-wrap: wrap;
        gap: 20;
        flex: 100%;
        margin: 0;
        margin-top: 42px;
        width: 100%;
    }

    .image-content-8 {
        flex-wrap: wrap;
        gap: 20;
        flex: 100%;
        margin: 0;
        margin-top: 42px;
        width: 100%;
    }
    

    .timeline-5{
        width: 100%;
        flex: 0 0 100%; /* Set the width to 100% to make both buttons the same size */
    }

    .timeline-6{
        width: 100%;
    }

    .explanation-2{
        margin-top: -20px;
        

    }

    .timeline-6{
        width: 80%;
    }

    .timeline{
        width: 80%;
    }

    .mobile{
        flex: 0 0 100%;
    }
    
    .laptop{
        flex: 0 0 100%;
    }
}


.metric-boxes{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between
    
}

.boxes-17{
  width: 250px;
}

.metric-number{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
}


.metric-number-12{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}




.local{
    color: #515151;

}

.local-white{
    color: #d1d1d1;
    font-family: Inter;
    font-size: 16px;

}

.local-white-28{
    color: #ffffff;
    font-family: Inter;
    font-size: 24px;
    padding-top: 8px;
    font-weight: 600;

}

.local-white-29{
    color: #000000;
    font-family: Inter;
    font-size: 24px;
    padding-top: 8px;
    font-weight: 600;

}

.local-white-2{
    margin: 0;
}

.timeline-6{
    width: 80%;
    margin-top: 20px;
}

.list-2{
    margin-top: 0;
    margin-bottom: 0; 
    color: #ffffff;
    font-weight: 600;
}


.tile-project-cohive-12{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
    margin-top: 60px;
}

.tile-project-cohive-19{
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 60px;
}

.tile-project-cohive-86{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
}

.image-persona{
    width: 150px;
}

.persona-container{
text-align: center;
justify-content: center;
align-items: center;
}

.user-persona-6{
    display: flex;
    margin-top: 30px;
    border: 2px solid rgb(226, 226, 226);
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    gap: 20px;
}

.user-container{
    display: flex;
    gap: 30px;
    
}

.title-cohive-5{
    color:  #000000;
    font-size: 15px;
    margin-bottom: 0;
    padding-top: 40px;
}


.title-cohive-6{
    color:  hsl(0, 0%, 100%);
    font-size: 15px;
    margin-bottom: 0;
    padding-top: 40px;
    color: #ffffff;
}


.hr-2{
    border: 1px solid #000000; /* Add your desired border properties */
   margin: 5px 0;
}

.hr-2-1-6{
    border: 1px solid #ffffff; /* Add your desired border properties */
   margin: 5px 0;
}

.hr-4{
    border: 2px solid #004AF8; /* Add your desired border properties */
    margin-top: 0;
    width: 40px;
}

.overview{
    padding-bottom: 50px;
   
}

.web-response{
     background-color: #EDEDED;
     padding-bottom: 50px;

}

.overview-2{
    padding-bottom: 50px;
    background-color: #EDEDED;
    max-width: 1150px;
    margin: auto;
    padding: 0px 30px 0px 30px;
}


.tile-project-cohive-7{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
}



.local-white-2{
    margin: 0;
    color: #ffffff;
}

.usability-image-box{
    display: flex;
    margin-top: 40px;
    gap: 55px;
    justify-content:flex-start
    align-items: center;
}


.updated-images-usability{
    width: 80%;
    border-radius: 15px;
}

.usability-image-box-2{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.list{
    margin-top: 0;
    margin-bottom: 0; 
    color: #c8c8c8;
    font-family: Inter;
    font-size: 16px;
    margin-top: 4px;
}

.list-9{
    margin-top: 0;
    margin-bottom: 0; 
    color: #000000;
    font-family: Inter;
    font-size: 16px;
    margin-top: 4px;
}

.list-metric{
    margin-top: 0;
    margin-bottom: 0; 
    color: #ffffff;
    font-family: Lora;
    font-size: 72px;
    margin-top: 4px;
}

.list-metric-12{
    margin-top: 0;
    margin-bottom: 0; 
    color: #ffffff;
    font-family: Lora;
    font-size: 24px;
    margin-top: 4px;
}

.percent{
    margin-top: 0;
    margin-bottom: 0; 
    color: #ffffff;
    font-family: Lora;
    font-size: 54px;
    margin-top: 4px;
    font-weight: 400;
   
}


.local-4{
    color: #515151;
text-align: center;
}

.top-locals-1{
    align-content: flex-end;
}



.insights-users{
    display: flex;
    gap: 60px;
    justify-content: flex-start; 
    padding-bottom: 36px;
}

@media screen and (max-width: 1000px) {
    .metric-boxes{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between
        
    }

    .boxes-17{
        width: 350px;
      }
    
}







.local-90{
    font-weight: bold;
    color: #000000;
    font-family: Lora;
    padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .insights-users{
        text-align: center;
        flex-wrap: wrap;
        align-content: center;
        align-self: center;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }
} 

@media screen and (max-width: 1125px) {
    .button-container{
        
        flex-wrap: wrap;
        align-content: left;
        align-self: left;
        align-items: left;
        justify-content: left;
        gap: 0px;
    }
} 




.insight-cross{
    width: 50px;
    align-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.insight-liner{
    width: 25px;
    align-content: center;
    align-items: center;
    align-content: center;
    
}

.hr-5{
    border: 2px solid #ffffff; /* Add your desired border properties */
    margin-top: 0;
    width: 40px;
}

.hr-3{
    border: 1px solid #ffffff; /* Add your desired border properties */
   margin: 5px 0;
}


hr{
    border: 1px solid #004af8; /* Add your desired border properties */
   margin: 20px 0;
}

.secondary-figma{
    padding: 20px 30px;
    color: #ffffff;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    background-color: #004af8;
    border: 2px solid #004af8;
    border-radius: 8px;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.secondary-figma:hover{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}

.secondary-figma-2{
    padding: 20px 30px;
  width: 200px;
  text-align: center;
    color: #004af8;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    border: 2px solid #004af8;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
}

.secondary-figma-2:hover{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}


.list-2{
    margin-top: 0;
    margin-bottom: 0; 
    color: #ffffff;
    font-weight: 600;
}

.insights-24{
    width: 230px;
    align-items: center;
    align-content: center;
    text-align: center;
  
}

.name-tag{
    margin: -10px;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}



.marry-89{
    font-size: 23px;
    font-weight: 500;
    font-style: italic;
    font-family: Merriweather;
    color: #ffffff;
    margin-top: 0;
    text-decoration: underline;
            text-decoration-color: #DBA3FB;
}


.marry{
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    font-family: Lora;
    color: #000000;
    margin-top: 0;
}


.tile-project-cohive{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
    margin-top: 10px;
}


.section-19{
    margin: 0;
    margin-top: 0;
    
}

.body-2{
    font-family: lato;
    background: linear-gradient(to bottom, #000000, #202138 );
}


.marry-2{
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    font-family: Lora;
    color: #ffffff;
    margin-top: 0;
}

.top-banner-24{
    display: flex;
    gap: 35px;
    margin-top: 24px;
    flex-wrap: wrap;
}

.top-locals-1{
    align-content: flex-end;
}


.top-section-local{
   
    display: flex;
    justify-content: space-between;
}


.top-section-local-64{
    padding-top: 36px;
   margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.role-list{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  

}

.role-list-small{
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  

}

.role-list-b{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  

}

.role-list-8{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Lora;

}


.role-list-32{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 10px;
    font-family: Lora;

}

.role-list-33{
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 10px;
    font-family: Lora;

}

.tile-project-cohive-8{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 10px;
}





.problem-statement-6{
   
    gap: 50px;
    
    margin-top: 30px;
}



.section-17{
    background-color: #ffffff;
}

.section-69{
    background-color: #00000000;
}

.section-24{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 30px 0px 30px;
}

.section-28{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}


.banner-img-4{
    margin-top: 24px;
    width: 100%;
    border-radius: 20px;
  
}

.banner-header{
    justify-content: center;
}


.section-48{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

.section-67{
    background-image: url(images/udpate.png);
    background-position: center;
}

.section-200{
    background-image: url("images/american.svg");
    height: 400px;

}

.title-cohive{
    color:  #ffffff;
    font-size: 15px;
    margin-bottom: 0;
}


.empathize {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 750px;
    border-radius: 15px;
    border: 2px solid #fefefe; /* 2px thickness, solid style, black color */
    padding: 10px; /* Add padding inside the border */
    margin: 0 auto; /* Center the section within its parent */
    text-align: center; /* Center text inside the container */
  }
  
  .empathize-background {
   
    padding: 20px; /* Optional: Add some padding around the content */
  }
  
  .empathize-background-2 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  
  .descrop-5 {
    color: #2D2E49;
    margin-bottom: 0;
  }

  .header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #fff;
    
}

.header_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1150px; 
    margin: auto;
    margin-top: 8px;
    padding: 10px 20px;
}



.nav {
    display: flex;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for slide down */
    text-align: center;
}

.nav_list {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    

    
}

.nav_item {
   
margin-top: 10px;
}
.nav_item-5 {
   
    margin-top: 10px;
    margin-right: 20px;
    }




/* Hamburger Menu Styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
    z-index: 10; /* Ensure hamburger is on top */
}

.hamburger .bar {
    width: 35px;
    height: 4px;
    background-color: #000;
    border-radius: 2px; /* This will make the ends round */
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
}

/* Transform bars into X */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(12px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(12px, -5px);
}

/* Mobile Menu Styling */
@media (max-width: 850px) {
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px; /* Adjust based on header height */
        left: 0;
        background-color: #fff;
        margin: 0;
        z-index: 9; /* Ensure nav is below hamburger */
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for slide down */
        max-height: 0;
        overflow: hidden;
        text-align: center;
    }

    .nav_active {
        display: flex;
        max-height: 400px; /* Adjust based on number of menu items */
    }

    .nav_list {
        display: flex; /* Ensures the container is a flex container */
        flex-direction: column; /* Arranges items vertically */
        justify-content: center; /* Centers items vertically */
        align-items: center; /* Centers items horizontally */
        margin: 0 auto; /* Centers the container horizontally on the page */
        padding-bottom: 25px; /* Adds space at the bottom */
        padding-right: 40px;
    }
    
    .nav_item-5 {
   
        margin-top: 10px;
        margin-right: 0px;
        }

    .nav_item {
        
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hamburger {
        display: flex;
        padding-top: 4px;
    }
    
    .logo img {
        height: 50px;
       padding-top: 4px;
    }

    .nav_link{
        font-size: 20px;
    }

    .nav_button{
        display: none;
    }

    .testimonial{
        width: 80px;
    }
}



.cards-section{
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #ededed;
    margin-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding: 0px 30px 0px 30px;
}

.card-1{
    background-color: #000000;
    padding: 40px;
    margin-top: -80px;
    border-radius: 15px;
    width: 250px;
}

.testimonial{
    width: 120px;
}

.local-white-20{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.image-text{
    display: flex;
    margin-top: 20px;
    
}

.button-container{
display: flex;
gap: 16px;
margin-top: 36px;
}

.text-name{
    padding-top: 20px;
    padding-left: 20px;
}

.card-9{
    background-color: #000000;
    padding: 40px;
    margin-top: -80px;
    border-radius: 15px;
    width: 900px;
}

[id] {
    padding-top: 40px; /* Adjust based on your navbar height */
    margin-top: -70px; /* Adjust based on your navbar height */
    transition: transform 0.3s ease;
}

.walmart{
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}